<h1 align="center">Nearest Neighbors Methods - The KNN Algorithm</h1>

### KNN Algorithm
- Basic Idea
- Formal Definition
- KNN Decision Boundary
- A supervised, non-parametric algorithm
- Used for classification and regression
- An Instance-based learning algorithm
- A lazy learning algorithm
- Characteristics of kNN
- Practical issues

### Similarity/Distance Metrics 
- Constraints/Properties on Distance Metrics
- Euclidean Distance
- Manhatten Distance
- Minkowski distance
- Chebyshev Distance
- Norm of a vector and Its Properties
- Cosine Distance 
- Practical Issues in computing distance

### The KNN algorithm and Implementation
- KNN regression and classification with examples
- Space and Time complexity
- Choosing the value of K - The Theory.
- Tuning the hyperparameter K - The method
- KNN: The good, the bad and the ugly
    
### Algorithm Convergence
- Error Convergence
- Learning Problem
- Bayes Optimal Classifier
- 1-NN Error as n → ∞


### KNN Enhancements
- Parzen Windows and Kernels (Fast KNN) 
- Performance of KNN Algorithm
- K-D Trees
- Locality-sensitive Hashing
- Inverted Lists

### The Curse of Dimensionality
- KNN Assumption
- Demonstration
- How does KNN work at all?

### Dimensionality Reduction(Optional)
- Why? and Benefits.
- Difference between Feature Selection and Feature Extraction
- Feature Selection methods
- Feature Extraction
- Principal Component Analysis
    - Geometric Intuition
    - Mathematical Formulation
    - How do we choose K?
    - Practical Consideration and Limitations

### Model Evaluation Techniques
- Classification Accuracy (0/1 Loss)
- TP, TN, FP and FN
- Confusion Matrix
- Sensitivity, Specificity, Precision Trade-offs, ROC, AUC
- F1-Score and Matthew’s Correlation Coefficient
- Multi-class Classification, Evaluation, Micro, Macro Averaging

**KNN: Python Implementation**    
**KNN: Scikit-learn implementation**    
**Interview Questions.**

# KNN Algorithm

### Basic Idea

- K-Nearest Neighbour is one of the simplest Machine Learning algorithms based on Supervised Learning technique.
- It assumes the similarity between the new data points and available data points and put the new data points into the category that is most similar to the available categories.Where'k' in KNN is a parameter that refers to the number of nearest neighbours to include in the majority of the voting process.
- It stores all the available data and classifies a new data point based on the similarity. This means when new data appears then it can be easily classified into a well suite category by using K- NN algorithm.
- **Example:** Suppose, we have an image of a creature that looks similar to cat and dog, but we want to know either it is a cat or dog. So for this identification, we can use the KNN algorithm, as it works on a similarity measure. Our KNN model will find the similar features of the new data set to the cats and dogs images and based on the most similar features it will put it in either cat or dog category.

<img src="images/knn14.PNG" height=600px width=600px align='center'>

### Formal Definition

"The k-nearest neighbors algorithm, also known as KNN or k-NN, is a non-parametric, supervised learning algorithm, which uses proximity to make classifications or predictions about the grouping of an individual data point." **(IBM)**

**Formal (and borderline incomprehensible) definition of k-NN:**

Test point: x

Define the set of the k nearest neighbors of x as Sx. Formally Sx is defined as **Sx ⊆ D s.t. |Sx|=k and ∀(x′,y′) ∈ D∖Sx,**

**dist(x,x′) ≥ max(x′′,y′′) ∈ Sx dist(x,x′′),**
 **(x′′,y′′) ∈ Sx**

(i.e. every point in D but not in Sx is at least as far away from x as the furthest point in Sx). We can then define the classifier h() as a function returning the most common label in Sx:

**h(x) = mode({y′′:(x′′,y′′) ∈ Sx}),**

where mode(⋅) means to select the label of the highest occurrence.
(Hint: In case of a draw, a good solution is to return the result of k-NN with smaller k)

<img src="images/knn1.PNG" height=600px width=600px align='center'>

### How does basic K-NN work?
The K-NN working can be explained on the basis of the below algorithm:

**Step-1:** Select the number K of the neighbors

**Step-2:** Calculate the Euclidean distance of K number of neighbors.

**Step-3:** Take the K nearest neighbors as per the calculated Euclidean distance.

**Step-4:** Among these k neighbors, count the number of the data points in each category.

**Step-5:** Assign the new data points to that category for which the number of the neighbor is maximum.

**Step-6:** Our model is ready.

### KNN Decision Boundary

A decision boundary or decision surface is a hypersurface that partitions the underlying vector space into two or more sets, one for each class. The classifier will classify all the points on one side of the decision boundary as belonging to one class and all those on the other side as belonging to the other class.

- We can draw decision boundary for all classification algorithms.
- Decision boundary can be linear(if the decision surface is a hyperplane, then the classification problem is linear, and the classes are linearly separable as in SVM) or non linear(in case of Decision Tree). 

**Value of k**
- When K is small, we are restraining the region of a given prediction and forcing our classifier to be “more blind” to the overall distribution. A small value for K provides the most flexible fit, which will have low bias but high variance. Graphically, our decision boundary will be more jagged. 
- On the other hand, a higher K averages more voters in each prediction and hence is more resilient to outliers. Larger values of K will have smoother decision boundaries which means lower variance but increased bias.

#### k=1
<img src="images/knn15.PNG" height=400px width=400px align='center'>

#### k=15

<img src="images/knn16.PNG" height=350px width=350px align='center'>

### Supervised and Non-parametric Algorithm

Let’s first start by establishing some definitions and notations. We will use **x** to denote a feature (aka. predictor, attribute) and **y** to denote the target (aka. label, class) we are trying to predict.

KNN falls in the supervised learning family of algorithms. Informally, this means that we are given a labelled dataset consiting of training observations **(x,y)** and would like to capture the relationship between x and y. More formally, our goal is to learn a function **h:X→Y** so that given an unseen observation x, **h(x)** can confidently predict the corresponding output y.

K-NN is a **non-parametric** algorithm, which means it does not make any assumption on underlying data. It means it makes no explicit assumptions about the functional form of h, avoiding the dangers of mismodeling the underlying distribution of the data. For example, suppose our data is highly non-Gaussian but the learning model we choose assumes a Gaussian form. In that case, our algorithm would make extremely poor predictions.

### Classification and Regression

K-NN algorithm can be used for Regression as well as for Classification but mostly it is used for the Classification problems.KNN algorithm at the training phase just stores the dataset and when it gets new data, then it classifies that data into a category that is much similar to the new data.

Regression problems use a similar concept as classification problem, but in this case, the average the k nearest neighbors is taken to make a prediction about a classification. The main distinction here is that classification is used for discrete values, whereas regression is used with continuous ones.

**Example:**

- **Classification:** KNN can be used in banking system to predict weather an individual is fit for loan approval? Does that individual have the characteristics similar to the defaulters one?

- **Regression:** KNN algorithms can be used to find an individual’s credit rating by comparing with the persons having similar traits.

### An Instance-based learning algorithm

- The **Machine Learning** systems which are categorized as **instance-based learning** are the systems that learn the training examples by heart and then generalizes to new instances based on some similarity measure. 

- It is called instance-based because it builds the hypotheses from the training instances. It is also known as **memory-based learning** or **lazy-learning** (because they delay processing until a new instance must be classified).

- The time complexity of this algorithm depends upon the size of training data. Each time whenever a new query is encountered, its previously stores data is examined. And assign to a target function value for the new instance.  

- **KNN** is an example of instance based learning algorithm.

**Advantages**

- Instead of estimating for the entire instance set, local approximations can be made to the target function.

- This algorithm can adapt to new data easily, one which is collected as we go.

**Disadvantages**

- Classification costs are high.

- Large amount of memory required to store the data, and each query involves starting the identification of a local model from scratch.


**Lazy Learning:** No learning of the model is required and all of the work happens at the time a prediction is requested. As such, KNN is often referred to as a lazy learning algorithm.

### Characteristics of KNN


- Nearest-neighbor classification is an element of more general approaches called **instance-based learning**. It needs specific training instances to create predictions without having to support an abstraction (or model) derived from data.

- Instance-based learning algorithms needed a **proximity measure** to decide the similarity or distance among instances and a classification function that restores the predicted class of a test instance depending on its proximity to other instances.

- **Lazy learners** including nearest-neighbor classifiers do not need model building. But defining a test example can be quite cheap because it is required to calculate the proximity values individually among the test and training examples. In contrast, eager learners spend the number of their computing resources for model building. Because a model has been constructed, defining a test example is completely quick.

- Nearest-neighbor classifiers create their predictions depending on **local data**, whereas decision tree and rule-based classifiers try to discover a global model that fits the whole input space. Due to the classification decisions being create locally, nearest-neighbor classifiers are affected by noise.

- Nearest-neighbor classifiers can make false predictions unless the suitable proximity measure and data preprocessing phases are taken. 
  - **For instance**, consider that it is required to define a set of people based on attributes such as height (measured in meters) and weight (measured in pounds). The height attribute has a low variability, ranging from 1.5 m to 1.85 m, whereas the weight attribute can change from 90 lb. to 250 lb. If the scale of the attributes is not taken into the application, the proximity measure can be dominated by differences in the weights of a person.

### Practical issues with KNN

- Accuracy depends on the quality of the data
- With large data, the prediction stage might be slow
- Sensitive to the scale of the data and irrelevant features
- Require high memory – need to store all of the training data
- Given that it stores all of the training, it can be computationally expensive

# Distance Metrics

Distance metrics are a key part of several machine learning algorithms. These distance metrics are used in both supervised and unsupervised learning, generally to calculate the similarity between data points.
An effective distance metric improves the performance of our machine learning model, whether that’s for classification tasks or clustering.

For the algorithm to work best on a particular dataset we need to choose the most appropriate distance metric accordingly. There are a lot of different distance metrics available, but we are only going to talk about a few widely used ones. Euclidean distance function is the most popular one among all of them as it is set default in the SKlearn KNN classifier library in python.

Let’s start with the most commonly used distance metric – Euclidean Distance.

### Euclidean Distance

Euclidean Distance represents the shortest distance between two points.

Most machine learning algorithms including K-Means use this distance metric to measure the similarity between observations. Let’s say we have two points as shown below:

<img src="images/knn4.PNG" height=500px width=500px align='center'>

So, the Euclidean Distance between these two points A and B will be:

<img src="images/knn5.PNG" height=500px width=500px align='center'>

Here’s the formula for Euclidean Distance:

<img src="images/knn7.PNG" height=300px width=300px align='center'>

We use this formula when we are dealing with 2 dimensions. We can generalize this for an n-dimensional space as:

<img src="images/knn8.PNG" height=300px width=300px align='center'>

Where,
- n = number of dimensions
- pi, qi = data points

### Example

Consider two attributes of a chemical, one is acid durability and other is its strenght. On the basis of these two features we classify chemical as good or bad.

In [4]:
import pandas as pd
import numpy as np

In [31]:
data={'Acid Durability':[7,7,3,1],'Strenght':[7,4,4,4], 'Output':['Bad','Bad','Good','Good']}
df=pd.DataFrame(data)
df

   Acid Durability  Strenght Output
0                7         7    Bad
1                7         4    Bad
2                3         4   Good
3                1         4   Good

In [32]:
x1 = df['Acid Durability'].values
x1

array([7, 7, 3, 1], dtype=int64)

In [33]:
x2 = df['Strenght'].values
x2

array([7, 4, 4, 4], dtype=int64)

Lets set k=3 and take new point (3,7) and checks its output using Euclidean Distance formula

In [34]:
def computeED1(x1,x2):
    return np.sqrt((x1-3)**2+(x2-7)**2)

In [35]:
result = computeED1(x1,x2)
result

array([4.        , 5.        , 3.        , 3.60555128])

In [36]:
result.sort()
result

array([3.        , 3.60555128, 4.        , 5.        ])

In [37]:
k=3
print(k, "smallest 3 closest point")
print(result[:k])

3 smallest 3 closest point
[3.         3.60555128 4.        ]

In [39]:
df["Euclidean Distance"] = computeED1(x1,x2)
df

   Acid Durability  Strenght Output  Euclidean Distance
0                7         7    Bad            4.000000
1                7         4    Bad            5.000000
2                3         4   Good            3.000000
3                1         4   Good            3.605551

In [40]:
df["Rank ED"] = [3,4,1,2]
df

   Acid Durability  Strenght Output  Euclidean Distance  Rank ED
0                7         7    Bad            4.000000        3
1                7         4    Bad            5.000000        4
2                3         4   Good            3.000000        1
3                1         4   Good            3.605551        2

So, two smallest distance belong to "Good" that is why new point (3,7) is a Good chemical

### Manhatten Distance

Manhattan Distance is the sum of absolute differences between points across all the dimensions.

                                        OR
The distance between two points is the sum of the absolute differences of their Cartesian coordinates.


This distance is also known as taxicab distance or city block distance, that is because the way this distance is calculated. This distance is preferred over Euclidean distance when we have a case of high dimensionality.

Again consider the above points. We can represent Manhattan Distance as:

<img src="images/knn6.PNG" height=500px width=500px align='center'>

Since the above representation is 2 dimensional, to calculate Manhattan Distance, we will take the sum of absolute distances in both the x and y directions. So, the Manhattan distance in a 2-dimensional space is given as:

<img src="images/knn9.PNG" height=300px width=300px align='center'>

And the generalized formula for an n-dimensional space is given as:

<img src="images/knn10.PNG" height=300px width=300px align='center'>

Where,
- n = number of dimensions
- pi, qi = data points

In [29]:
def computeMD(x1,x2):
    return (x1-3)**2+(x2-7)**2

In [41]:
df["Manhatten Distance"] = computeMD(x1,x2)
df

,Acid Durability,Strenght,Output,Euclidean Distance,Rank ED,Manhatten Distance
0,7,7,Bad,4.000000,3,16
1,7,4,Bad,5.000000,4,25
2,3,4,Good,3.000000,1,9
3,1,4,Good,3.605551,2,13

In [42]:
df["Rank MD"] = [3,4,1,2]
df

,Acid Durability,Strenght,Output,Euclidean Distance,Rank ED,Manhatten Distance,Rank MD
0,7,7,Bad,4.000000,3,16,3
1,7,4,Bad,5.000000,4,25,4
2,3,4,Good,3.000000,1,9,1
3,1,4,Good,3.605551,2,13,2

### Minkowski Distance
Minkowski Distance is the generalized form of Euclidean and Manhattan Distance.

It is a metric intended for real-valued vector spaces. We can calculate Minkowski distance only in a normed vector space, which means in a space where distances can be represented as a vector that has a length and the lengths cannot be negative.

The formula for Minkowski Distance is given as:

<img src="images/knn11.PNG" height=300px width=300px align='center'>

This above formula for Minkowski distance is in generalized form and we can manipulate it to get different distance metrices.

The p value in the formula can be manipulated to give us different distances like:

- p = 1, when p is set to 1 we get Manhattan distance
- p = 2, when p is set to 2 we get Euclidean distance

### Chebyshev Distance
The Chebyshev distance between two n-dimensional points or vectors is the maximum absolute magnitude of the differences between the coordinates of the points. 

For the Cartesian coordinate system, the Chebyshev distance between two points can be determined as the sum of the absolute differences of their Cartesian coordinates. Other names for the Chebyshev distance are maximum metric and L∞ metric. 

The Chebyshev distance between two points p and q with coordinates pi and qi is

<img src="images/cformulae.png" height=300px width=300px align='center'>

For example, consider the two points in a 3D grid p (x₁,y₁,z₁) = p (2,3,4) and q (x₂,y₂,z₂) = q (5,9,11). Then the Chebyshev distance between points p and q is

<img src="images/cform.png" height=300px width=300px align='center'>

### Comparison 

<img src="images/knn.jpg" height=600px width=600px align='center'>

### Cosine Distance
This distance metric is used mainly to calculate similarity between two vectors. 

It is measured by the cosine of the angle between two vectors and determines whether two vectors are pointing in the same direction. It is often used to measure document similarity in text analysis.

<img src="images/cosine.png" height=300px width=300px align='center'>

Using this formula we will get a value which tells us about the similarity between the two vectors and 1-cosΘ will give us their cosine distance.

Using this distance we get values between 0 and 1, where 0 means the vectors are 100% similar to each other and 1 means they are not similar at all.

In [1]:
import numpy as np
from numpy.linalg import norm
 
# define two lists or array
A = np.array([2,1,2,3,2,9])
B = np.array([3,4,2,4,5,5])
 
print("A:", A)
print("B:", B)
 
# compute cosine similarity
cosine = np.dot(A,B)/(norm(A)*norm(B))
print("Cosine Similarity:", cosine)

A: [2 1 2 3 2 9]
B: [3 4 2 4 5 5]
Cosine Similarity: 0.8188504723485274

In [2]:
import math

def euclidean_distance(x1, y1, x2, y2):
    return math.sqrt((x1 - x2) ** 2 + (y1 - y2) ** 2)

def manhattan_distance(x1, y1, x2, y2):
    return abs(x1 - x2) + abs(y1 - y2)

def cosine_similarity(x1, y1, x2, y2):
    dot_product = x1 * x2 + y1 * y2
    norm1 = math.sqrt(x1 ** 2 + y1 ** 2)
    norm2 = math.sqrt(x2 ** 2 + y2 ** 2)
    return dot_product / (norm1 * norm2)

# calculate Euclidean distance
distance = euclidean_distance(1, 2, 3, 4)
print("Euclidean distance:", distance)

# calculate Manhattan distance
distance = manhattan_distance(1, 2, 3, 4)
print("Manhattan distance:", distance)

# calculate cosine similarity
similarity = cosine_similarity(1, 2, 3, 4)
print("Cosine similarity:", similarity)

Euclidean distance: 2.8284271247461903
Manhattan distance: 4
Cosine similarity: 0.9838699100999074

### Norm of a vector and Its Properties


A **norm** is a way to measure the size of a vector, a matrix, or a tensor. In other words, norms are a class of functions that enable us to quantify the magnitude of a vector. 


**WHAT ARE THE PROPERTIES OF A NORM?**

- **Non-negativity:** It should always be non-negative.
- **Definiteness:** It is zero if and only if the vector is zero, i.e., zero vector.
- **Triangle inequality:** The norm of a sum of two vectors is no more than the sum of their norms.
- **Homogeneity:** Multiplying a vector by a scalar multiplies the norm of the vector by the absolute value of the scalar.

## The KNN algorithm and Implementation

### KNN regression

Let us start with a simple example. Consider the following table – it consists of the height, age and weight (target) value for 10 people. As you can see, the weight value of ID11 is missing. We need to predict the weight of this person based on their height and age.

<img src="images/ex1.png" height=500px width=500px align='center'>

For a clearer understanding of this, below is the plot of height versus age from the above table:

<img src="images/ex2.png" height=500px width=600px align='center'>

In the above graph, the y-axis represents the height of a person (in feet) and the x-axis represents the age (in years). The points are numbered according to the ID values. The yellow point (ID 11) is our test point.

If I ask you to identify the weight of ID11 based on the plot, what would be your answer? You would likely say that since ID11 is closer to points 5 and 1, so it must have a weight similar to these IDs, probably between 72-77 kgs (weights of ID1 and ID5 from the table). That actually makes sense, but how do you think the algorithm predicts the values?

The KNN algorithm uses ‘feature similarity’ to predict the values of any new data points. This means that the new point is assigned a value based on how closely it resembles the points in the training set. From our example, we know that ID11 has height and age similar to ID1 and ID5, so the weight would also approximately be the same.

Had it been a classification problem, we would have taken the mode as the final prediction. In this case, we have two values of weight – 72 and 77. Any guesses on how the final value will be calculated? The average of the values is taken to be the final prediction.

Below is a stepwise explanation of the algorithm:
- First, the distance between the new point and each training point is calculated.
<img src="images/ex3.png" height=500px width=600px align='center'>

- The closest k data points are selected (based on the distance). In this example, points 1, 5, 6 will be selected if the value of k is 3. 
<img src="images/ex5.png" height=500px width=600px align='center'>

     The average of these data points is the final prediction for the new point. Here, we have weight of 
                                   ID11 = (77+72+60)/3 = 69.66 kg 
                                   
- For the value of k=5, the closest point will be ID1, ID4, ID5, ID6, ID10.

<img src="images/ex6.png" height=500px width=600px align='center'>

<img src="images/ex7.png" height=400px width=400px align='center'>

      The prediction for ID11 will be :
                                   ID 11 =  (77+59+72+60+58)/5 
                                   ID 11 = 65.2 kg
                                   
We notice that based on the k value, the final result tends to change. Then how can we figure out the optimum value of k? Let us decide it based on the error calculation for our train and validation set (after all, minimizing the error is our final goal!).

### Python implementation of KNN regression

In [10]:
import pandas as pd
url = (
   "https://archive.ics.uci.edu/ml/machine-learning-databases"
    "/abalone/abalone.data"
)
abalone = pd.read_csv(url, header=None)

In [11]:
abalone.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [12]:
abalone.columns = [
     "Sex",
     "Length",
     "Diameter",
    "Height",
     "Whole weight",
     "Shucked weight",
     "Viscera weight",
     "Shell weight",
     "Rings",
 ]

In [13]:
abalone.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [14]:
abalone = abalone.drop("Sex", axis=1)

In [15]:
X = abalone.drop("Rings", axis=1)
X = X.values
y = abalone["Rings"]
y = y.values

In [18]:
new_data_point = np.array([0.569552,0.446407,0.154437,1.016849,0.439051,0.222526, 0.291208, ]) #testdata
distances = np.linalg.norm(X - new_data_point, axis=1) #return vector of distances
distances

array([0.59739395, 0.9518455 , 0.40573594, ..., 0.20397872, 0.14342627,
       1.10583307])

In [20]:
k=3
nearest_neighbor_ids = distances.argsort()[:k] #tells you which three neighbors are closest to your new_data_point.
nearest_neighbor_ids

array([4045, 1902, 1644], dtype=int64)

In [22]:
nearest_neighbor_rings = y[nearest_neighbor_ids]
nearest_neighbor_rings

array([ 9, 11, 10], dtype=int64)

In [24]:
prediction = nearest_neighbor_rings.mean()
prediction

10.0

### Python implementation of Clasification problem

In [4]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import math

In [6]:
df = pd.read_table("fruit_data_with_colors.txt")
df.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [7]:
list1 = ['mass', 'width', 'height', 'color_score']
test_point = pd.DataFrame([[300,8.0,7.1,0.9]], columns=list1)
test_point
#test_point = pd.DataFrame(xq[['mass', 'width', 'height', 'color_score']])
#xq_final

   mass  width  height  color_score
0   300    8.0     7.1          0.9

In [8]:
# calculating ecludian distance
def cal_distance(x):      
    a = x.to_numpy()
    b = test_point.to_numpy()    
    distance = math.sqrt(sum([(a - b) ** 2 for a, b in zip(a, b[0])]))
    return distance

In [9]:
# calculating distance
df['distance'] = df[['mass', 'width', 'height', 'color_score']].apply(cal_distance, axis=1)
df.head()

,fruit_label,fruit_name,fruit_subtype,mass,width,height,color_score,distance
0,1,apple,granny_smith,192,8.4,7.3,0.55,108.001493
1,1,apple,granny_smith,180,8.0,6.8,0.59,120.000775
2,1,apple,granny_smith,176,7.4,7.2,0.60,124.001855
3,2,mandarin,mandarin,86,6.2,4.7,0.80,214.021050
4,2,mandarin,mandarin,84,6.0,4.6,0.79,216.023754

In [10]:
#sorting the values based on distance
df_sort = df.sort_values('distance',ascending=True)

In [11]:
# taking top 3 records because k is 3
df_after_sort = df_sort.head(3)

In [12]:
df_after_sort.reset_index()

,index,fruit_label,fruit_name,fruit_subtype,mass,width,height,color_score,distance
0,24,3,orange,spanish_jumbo,342,9.0,9.4,0.75,42.075082
1,25,3,orange,spanish_jumbo,356,9.2,9.2,0.75,56.052409
2,26,3,orange,spanish_jumbo,362,9.6,9.2,0.74,62.056390

In [13]:
df_after_sort.iloc[0]

fruit_label                  3
fruit_name              orange
fruit_subtype    spanish_jumbo
mass                       342
width                      9.0
height                     9.4
color_score               0.75
distance             42.075082
Name: 24, dtype: object

In [14]:
count = [0 for i in range(0, len(df['fruit_label'].unique()))]
for xi in range(0, len(df_after_sort)):       
    if df_after_sort.iloc[xi]['fruit_label'] == 1:        
        count[0] = count[0]+1
    elif df_after_sort.iloc[xi]['fruit_label'] == 2:        
        count[1] = count[1]+1
    elif df_after_sort.iloc[xi]['fruit_label'] == 3:        
        count[2] = count[2]+1
    elif df_after_sort.iloc[xi]['fruit_label'] == 4:        
        count[3] = count[3]+1

In [15]:
def max_num_in_list_label(list):
    maxpos = list.index(max(list)) +1
    return labels[maxpos]

In [18]:
#getting the label and verifying with the class label in xq
labels = dict(zip(df.fruit_label.unique(), df.fruit_name.unique())) 
labels
print(max_num_in_list_label(count))

orange

## sklearn Implementation

In [19]:
X= df[['mass', 'width', 'height', 'color_score']]
Y= df[['fruit_name']]

from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X, Y)

C:\Python310\lib\site-packages\sklearn\neighbors\_classification.py:207: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [20]:
predicted= neigh.predict([[300,8.0,7.1,0.9]]) # 0:Overcast, 2:Mild
print(predicted)

['orange']

C:\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

### Space and Time complexity

**Training Phase:** 

   - In training phase as we need to store all the datapoints.
   - The space complexity would be **O(n*d)** where n represents number of datapoints and d represents the number of features that determine each datapoint.

   - The time that it takes to calculate the n datapoints with d features would would be O(n*d).

**Testing Phase:**

   - Testing phase or Run time complexity is **O(n*k*d)** where k represents number of nearest neighbors that needs to be considered.

### Choosing the value of K - The Theory

if **k=1**
- Sensitive to noise
- High variance
- Increasing k makes algorithm less sensitive to noise 

**k=n**
- Decreasing k enables capturing finer structure of space

Idea: Pick k not too large, but not too small (depends on data)
How?

**Choice of k**
- Learn the best hyper-parameter, k using the data.
- Split data into training and validation.
- Start from k=1 and keep iterating by carrying out (5 or 10, for example) cross-validation and computing the loss on the     validation data using the training data.
- Choose the value for k that minimizes validation loss.
- This is the only learning required for kNN.

### K Fold cross validation

Consider the below example:

Suppose we have data D and and we have divided our data in training data (80%) and testing data (20%)
After splitting the total data set (D_n) into training (D_Train) and test (D_Test) data set, in the ratio of 80:20, we further randomly split the training data into 4 equal parts. D_Train into D1 (20%), D2(20%), D3(20%), D4(20%)
D1, D2, D3, and D4 are the four randomly split equal parts of D_Train. Once done with the splitting, we proceed as follows:

<img src="images/kfold.png" height=500px width=600px align='center'>

**Step-1:** For K=1, we pick D1, D2, and D3 as my training data set and set D4 as my cross-validation data and find the nearest neighbors and calculate its accuracy.

**Step-2:** Again, for K=1, we pick D1, D2, and D4 as my training data set and set D3 as my cross-validation data, I find the nearest neighbors and calculate its accuracy.

we repeat the above steps with D2 and D1 as my cross-validation data set and calculate the corresponding accuracy. Once done with it, I get 4 accuracies for the same value of K=1. So I consider the mean of these accuracies and assign it as the final value when my K=1.

Now, I repeat the above steps for K=2 and find the mean accuracy for K=2. So on and so forth, I calculate the accuracies for different values of K.

Now, note that for each value of K I had to compute the accuracy 4 times. This is because I randomly split my training data set into 4 equal parts. Suppose I had randomly split my data set into 5 equal parts then I would have to compute 5 different accuracies for each value of K and take their mean.

**Please Note: Capital “K” stands for the K value in KNN and lower “k” stands for k value in k-fold cross-validation**

So, k value in k-fold cross-validation for the above example is 4 (i.e k=4), had we split the training data into 5 equal parts, the value of k=5.

k = number of parts we randomly split our training data set into.

Now, we are using the entire 80% of our data to compute the nearest neighbors as well as the K value in KNN.

Just one drawback with k-fold cross-validation is that we are repeating the computations for each value of K (of KNN). So it basically increases the time complexity.

**Limitations of KNN:**
1. Doesn’t work well with a large dataset
2. Doesn’t work well with a high number of dimensions
3. Sensitive to outliers and missing values

## Curse of dimensionality

### Assumption
First, it needs you to trust the assumption that it’s nearby neighbors are similar to it. There are some cases where this will be true. For instance, pieces of produce in a grocery store are commonly sorted into similar groups.

Second, you need to have a way to measure distance. Note that this is dimensional distance, not necessarily physical distance. It refers to the differs between the two data points you’re trying to compare.

This means that your success when using the k-nearest neighbors algorithm is very dependent on having a dense data set. This makes it especially vulnerable to the “Curse of Dimensionality”.

The special challenge with k-nearest neighbors is that it requires a point to be close in every single dimension. k-nearest neighbors needs all points to be close along every axis in the data space. And each new axis added, by adding a new dimension, makes it harder and harder for two specific points to be close to each other in every axis.

### Parzen Windows and Kernels (Fast KNN)

Instead of fix the number of neighbours, Parzen Windows fix the size of area or a region with fixed size of radius 

<img src="images/knn17.PNG" height=600px width=600px align='center'>

### Performance of KNN Algorithm

- No assumption about training data
- Non parametric approach
- Need to handle missing values
- Sensitive to outliers
- Computationally Expensive O(nd) n= no.of samples, d= dimensions
- Slow at testing time

### K-D Trees
We can make knn fast by reducing **n** and **d**. K-D Trees allows you to find m potential neighbours i.e **m << n**, if we have low dimensional and real value data.

**O(d log2 n)**,
inexact technique as you miss neighbours
only works when **d << n**

#### Steps:
- Pick random dimension
- Find median
- Split data
- Repeat

<img src="images/knn19.PNG" height=600px width=600px align='center'>

<img src="images/knn18.PNG" height=600px width=600px align='center'>

### Inverted List
If your data is high dimensional and sparse

**O(n'd')**

exact technique as you dont miss neighbours.

It is a data structures used by search engines

### Locally Sensitive Hashing
If your data is high dimensional and real value

**O(n'd')**

inexact technique as you miss neighbours only works when **n' << n**

#### Steps:
- Draw k random hyperplanes
- Space sliced into 2^k regions, each region has linear slides and are mutually exclusive
- When apoint x comes, compare it only to training points in that region

<img src="images/knn20.PNG" height=500px width=500px align='center'>